#sheet {
    -fx-background-image: url("imgs/game-sheet.jpeg");
    -fx-background-size: stretch;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0)
}

.marked-check {
    -fx-padding: -10;
    -fx-alignment: center;
    -fx-background-image: url("imgs/x.png");
    -fx-background-size: stretch;
}



